
body {
    font-family: arial;
}

label {
    font-weight: bold;
}

legend {
    font-weight: bold;
}

li {
    cursor: pointer;
}
li:hover {
    background-color: yellow;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
  li {
    font: 200 14px/1.5 Arial;
    border-bottom: 1px solid #ccc;
  }
   
  li:last-child {
    border: none;
  }