<!DOCTYPE html>
<html>
<head>
  <title>ExcelGenerator</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body style="width: 200px;">
  <h1>Excel Generator</h1>
  <hr/>
  Options:
  <hr/>
  <div>
    <div>
      <label for="cbExcelTable">Create table in Excel:</label> <input type="checkbox" checked id="cbExcelTable"/>
    </div>
    <div>
        <label for="tbFilename">Filename:</label> <input type="text" id="tbFilename" value="output.xlsx"/>
    </div>
    <div>
        <label for="tbAuthor">Author:</label> <input type="text" id="tbAuthor" value="chrome-excel-generator"/>
    </div>
  </div>
  <hr/>
  Choose Table:
  <hr/>
  <div id="content"></div>
  <script src="/scripts/external/jquery-1.8.2.js"></script>
  <script src="/scripts/external/jszip.min.js"></script>
  <script src="/scripts/external/FileSaver.js"></script>
  <script src="/scripts/external/excel-gen.js"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>
